.arrivalContainer {
    margin: 50px auto;
}

.arrivalHead {
    text-align: center;
    font-size: 29.6px;
    padding: 15.53px 97.06px;
    margin-top: 100px;

}

.arrivalHead1 {
    text-align: center;
    font-size: 15px;
    padding: .53px 60px;
    margin-top: 10px;
    display: none;
}

.arrivalHead>svg {
    color: red;
    font-size: 28px;
}

.arrivalHead1>svg {
    color: red;
    font-size: 18px;
}

.arrivalPara {
    text-align: center;
    margin: 40px 10px 0px 10px;

}

.cards {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 1.8rem;
    margin: 70px;

}

.card {
    width: 270px;
    height: 496px;
    border: 1px solid #c7cbd9;
    border-radius: 15px;
    margin: 20px 0px;
}

.cardImg {
    width: 268px;
    height: 273px;
    background: #EEEEEE;
    border-radius: 15px 15px 0px 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImg img {
    max-width: 50%;
    max-height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.cardContent {
    width: 268px;
    height: 223px;
    border-radius: 0px 0px 15px 15px;
    padding-left: 15px;
}

.review {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 15px 0px;
}

.review>span {
    margin-left: 8px;
    font-size: 10px;
}

.review>svg {
    color: #F4FF00;
}

.cardContent>h1 {
    height: 17.6px;
    font-size: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16.2px;
    text-transform: uppercase;
    text-decoration: underline;
}

.prices {
    display: flex;
    margin: 20px 0px;
}

.price1 {
    background: #FFD11B;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    margin-right: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
    color: white;
}

.price1:nth-child(3) {
    display: none;
}

.price2 {
    color: red;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.price3 {
    color: #6C6F7A;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.arrivalBTN {
    display: block;
    background: #B4B2B2;
    margin-top: 20px;
    padding: 12.8px 68.79px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: bold;
}

.cardContent hr {
    border-color: #fffdf7;
    opacity: 0.3;
    width: 90%;
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
}

@media screen and (max-width: 680px) {
    .cards {
        margin: 0;
        margin-bottom: 2rem;

    }

    .arrivalHead {
        display: none;
    }

    .arrivalHead1 {
        display: inline-block;

    }

    .arrivalContainer {
        margin: 10px;
    }

    .arrivalPara {
        text-align: center;
        margin: 15px 10px 0px 10px;
        font-size: 6px;

    }

    .card {
        width: 126px;
        height: 196px;
        margin: 32px 0px;
    }

    .cardImg {
        width: 124px;
        height: 100px;
        background: #EEEEEE;
        border-radius: 15px 15px 0px 0px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardImg img {
        max-width: 60%;
        max-height: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    .cardContent {
        width: 198px;
        height: 223px;
        border-radius: 0px 0px 15px 15px;
        padding-left: 0px;
    }

    .review {
        display: flex;
        align-items: center;
        font-size: 8px;
        padding: 6px 0px;
        margin-left: 0px;
    }

    .review>span {
        margin-left: 8px;
        font-size: 10px;
    }

    .review>svg {
        color: #F4FF00;
        size: 3px;
    }

    .cardContent h1 {
        font-size: 8px;
        width: 50%;
        font-size: 8px;
        margin-left: 10px;
    }

    .prices {
        display: flex;
        margin-top: 5px;
        width: 5px;
        height: 12px;
        margin-left: 10px;
    }

    .arrivalBTN {
        display: flex;
        background: #B4B2B2;
        margin-top: 25px;
        padding: 9px 15px;
        border: 1px solid transparent;
        /* border-radius: 20px; */
        font-weight: bold;
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }

    .arrivalBTN>span {
        margin-left: 5px;
        font-size: 8px;
    }

    .price1 {
        background: #FFD11B;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 25px;

        padding: 3px;
        display: flex;
        align-items: center;
        color: white;
    }

    .price2 {
        color: red;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 20px;
        margin-right: 5px;
        display: flex;
        align-items: center;
    }

    .price3 {
        color: #6C6F7A;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 200;
        font-size: 8px;
        line-height: 20px;
        display: flex;
        align-items: center;
    }

    .cardContent hr {
        width: 50%;
        margin-bottom: "0px";
    }
}